<!DOCTYPE html>
<html>
    <head> 
        <title>Student Login</title>
        <style>
            h1 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/">
          <label>Username: </label>  
          <input type="text" name="username"><br><br>

          <label>Password: </label>
          <input type="text" name="password"><br><br>

          <button type="submit">Submit</button>

          {% if error %}
            <p style="color:red">{{error}}</p>
          {% endif %}  

          <p>Don't have an account?
            <a href="{{ url_for('StudentSignUpPage') }}">Create one here!</a>
          </p>
        </form>
    </body>
</html>